
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');


*{
    user-select: none;
    -webkit-user-drag: none;
}

html, body{
    background-color: black;
    height: 100%;
    font-family: Kreon;
    font-size: 30px;
}
h1{
    text-align: center;
    color: white;
    margin-top: 2vh;

}

p{
    color: white;
}

.timer-elements{
    text-align: center;
}

#announcement{
    color: red;
    font-size: 1rem;
    text-align: center;
}

.hiddenElement{
    display: none;
}

p.hiddenElement.active{
    display: inline;
    color: red;
}

#timer{
    color: white;
    text-align: center;
    font-size: 2rem;
}

#main-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#main-screen img {
    display: none;
}

#main-screen img.active {
    display: inline-block;
}

#click-count{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: gray;
}
#click-count.active{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-right: 20px;
}


.rectangle{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20vw;    
    background-color: orange;
    font-size: 24px;
}

.rectangle button{
    display: block; 
    background: blue;
    color: white;
    padding: 10px 5px;
    font-size: 0.8em;
    margin: 0 auto 10px auto;
    
} 

.rectangle h2{
    display: block;
    text-align: center;
}



.inline-container{
    display: inline;
    color: red;
}

.digitalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

