



html, body{
    background-color: black;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
h1{
    text-align: center;
    color: white;

}

p{
    color: white;
}


.elements-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.elements-layout img {
    display: none;
}

.elements-layout img.active {
    display: inline-block;
}

.hiddenElement{
    display: none;
}

p.hiddenElement.active{
    display: inline;
}


.rectangle{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20vw;    
    background-color: orange;
    font-size: 24px;


}

.rectangle button{
    display: block; 
    margin: 0 auto;
    background: blue;
    color: white;
    padding: 10px 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
    
} 

.rectangle h2{
    display: block;
    text-align: center;
}

#click-count{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: gray;
}
#click-count.active{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-right: 20px;
}

.inline-container{
    display: inline;
    color: red;
}


.timer-style{
    color: white;
    text-align: center;
    font-size: 3rem;
}